<header>
    <div class="navbar">
        <div class="heading">
            <h1 class="heading">User Management System</h1>
        </div>
        
    </div>
</header>

<style>
    .navbar{
        background-color: aquamarine;
        padding-top: 2px;
        padding-bottom: 2px;
        margin: auto;
        overflow: hidden;
    }
    .heading{
        float: right;
        margin-left: 200px;
        text-align: center;
    }

</style>